body {
  background-color: white;
}

.container {
  text-align: center;
  width: 100%;
  position:absolute;
  top: 45%;
}

button {
  height: 70px;
  width: 160px;
  background-color: #E5B6D5;
  border-top: 8px solid #B2479A;
  border-bottom: 8px solid #B2479A;
  border-left: 8px solid #CC7FB5;
  border-right: 8px solid #CC7FB5;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

button:hover {
  background-color: #B2479A;
  border-top: 8px solid #CC7FB5;
  border-bottom: 8px solid #CC7FB5;
  border-left: 8px solid #E5B6D5;
  border-right: 8px solid #E5B6D5;
}


@media screen and (min-width: 0px) and (max-width: 500px) {

button {
  display: block;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reset {
  height: 40px;
}

}
